html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 1.4em;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#clock {
    border: .2em solid black;
    padding: .5em;
    border-radius: .5em;
    background-color: rgb(135, 76, 4);
}

td {
  text-align: center;
  color: rgb(154, 96, 25);
}

.all .all,
.oClock .oClock,
.to .to,
.past .past,
.hour1 .hour1,
.hour2 .hour2,
.hour3 .hour3,
.hour4 .hour4,
.hour5 .hour5,
.hour6 .hour6,
.hour7 .hour7,
.hour8 .hour8,
.hour9 .hour9,
.hour10 .hour10,
.hour11 .hour11,
.hour12 .hour12,
.offset5 .offset5,
.offset10 .offset10,
.offset15 .offset15,
.offset20 .offset20,
.offset25 .offset25,
.offset30 .offset30
 {
  color: white;
  text-shadow: 0 0 .3em lightblue;
  text-emphasis: bold;
}
